/* main */
#main {

    position: relative;
    padding: 70px 0 100px 60px;

    .main {
        .titText03 {

            padding-bottom: 9px;
            border-bottom: 2px solid #e7e7e7;

        }

        .layoutWrap {
            display: flex;
            gap: 0 10px;
            justify-content: center;
            align-items: center;

            .table_wrap {
                width: 50%;
            }

        }
    }


}