
/* 공통 */
.container{padding: 0 20px;}

*{outline: 0; -webkit-box-sizing:border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html{-webkit-touch-callout: none; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

body{min-width: 320px; line-height: 1.5; word-wrap: break-word; word-break: break-all; -webkit-text-size-adjust: none;}

table {border-collapse: collapse; border-spacing: 0;}

body, input, textarea, select, button, table{font-family: 'Noto Sans KR', sans-serif; color: #000; font-size: 16px;}

fieldset, img{border:0;}

body, div, p, ul, ol, li, dl, dd, dt, h1, h2, h3, h4, h5, h6, table, tr, th, td,
form, select, textarea, fieldset, legend, figure, figcaption{margin: 0; padding: 0;}

ol, ul{list-style: none;}

a {text-decoration: none; color: #000;}

em, address {font-style: normal;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}

input{-webkit-appearance:none; -moz-appearance:none; appearance:none; -webkit-border-radius: 0;}

.blind{position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}

.tit{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 40px; text-transform: uppercase; letter-spacing: -1px;} 
#logoWrap a{display: block; text-decoration: none; color: #fff; cursor: pointer;}
#sideMenuWrap a{display: block; text-decoration: none; color: #000; cursor: pointer; font-weight: 500; font-size: 20px; }

/* main */
#main{position: relative; height: 100vh;}

/* header */
#header svg{display: block;}
#header{position: fixed; width: 100%; background-color: #f38156; box-shadow: 5px 7px 6px rgba(0,0,0,.2); z-index: 999;}
#header .header{height: 70px; display: flex; align-items: center; }

/* menuWrap */
#menuWrap{margin-right: 16px;}

/* logoWrap */
#logoWrap h1{margin-right: 20px; width: 300px; height: 50px; line-height: 50px; color: #fff; font-size: 26px; background-color: #d19f9f; text-align: center;}

/* alarmWrap */
#alarmWrap a svg{transition: all .3s;}
#alarmWrap a:hover svg{transform: translateY(-7px);}

/* linkWrap */
#linkWrap{margin-right: 13px;}
#linkWrap a{display: block;}
#linkWrap a svg{transition: all .3s;}
#linkWrap a:hover svg{transform: translateY(-7px);}

/* searchWrap */
#searchWrap{margin-right: 13px; }
#searchWrap .searchBox{display: flex; align-items: center;}
#searchWrap input{margin-right: 10px; padding-left: 10px; border: 0; border-radius: 5px; width: 500px; height: 35px; font-weight: 500; font-size: 15px; color: #333; box-shadow: 5px 5px 3px rgba(0,0,0, .2);}
#searchWrap input::placeholder{color: #333;}
#searchWrap label{cursor: pointer;}

/* sideMenuWrap */
#sideMenuWrap{padding-top: 148px; position: absolute; top:0; left:0; width: 60px; height: 100%; z-index: 9; background-color:#f7f7f7; box-shadow: 0px 0 10px rgba(0,0,0,.15); text-align: center;}
#sideMenuWrap a{display: block; text-decoration: none; color: #000; cursor: pointer; font-weight: 500; font-size: 20px; }
#sideMenuWrap .tit{margin: 20px 0 10px; top: 70px; position: absolute; width: 100%; font-size: 20px; text-align: center;
    line-height: 20px; left: 0; transform: none;}
#sideMenuWrap ul li{margin-bottom: 20px;}
#sideMenuWrap svg{position: absolute; left: 50%; transform: translateX(-50%); bottom: 20px;}

/* footer */
#footer{padding: 20px 0 0; position: relative; height: 300px; background-color: #8b8b8b;}



